<div class="designation center border" style="margin-top:50px;font-size:15px;width:682px;padding:10px;font-size:20px;;">
    Conditions de règlement : A payer dès la présentation de la note de frais
</div>


<div class="designation relative border" style="width:345px;margin-top:10px;font-size:15px;padding-bottom:157px;">
    <p style="text-align:center;">A ---------------------- Le </p> 
</div>
<div class="relative border " style="width:293px;margin-left:370px;margin-top:-315px;padding-bottom:60px;font-size:15px;">

    <p style="text-align:center;">Signature + Cachet</p>

</div>