{% extends 'base.html.twig' %}

{% block title %}reset passwork request{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-8">
                <h3 class="mb-4">Reinitalisation de mot de passe </h3>
                {{ form_start(form) }}
                    {{form_widget(form.email)}}
                    <div class="d-flex flex-row-reverse mt-3">
                        <button type="submit" class="btn btn-primary" id="liveAlertBtn">envoyer</button>
                    </div>
                {{ form_end(form) }}
                <div id="liveAlertPlaceholder"></div>

            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}