{% extends 'base.html.twig' %}

{% block title %}reset passwork request{% endblock %}

{% block body %}

    <h1>Reinitalisation de mot de passe </h1>
    {{ form_start(form) }}
        {{ form_label(form.password)}}
        {{form_widget(form.password)}}
        <button type="submit" class="btn btn-success" id="liveAlertBtn">envoyer</button>
    {{ form_end(form) }}
    <div id="liveAlertPlaceholder"></div>

{% endblock %}