.flex{
    display: flex;
    justify-content: space-between;
}
.droite{
    display: flex;   
}
.orange{
  color: #e8531e;
}
a:link ,a.btn:link {
  color: white;
}
  /* visited link */
a:visited,a.btn:visited {
  color: white;
}

/* mouse over link */
a:hover , a.btn:hover {
  color: black;
}

/* selected link */
a:active  , a.btn:active{
  color: blue;
}

a.deco{
margin-left: 10px;
}
