<form method="post" action="{{ path('app_ouverture_dossier_delete', {'id': ouverture_dossier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ouverture_dossier.id) }}">
    <button class="btn">Delete</button>
</form>
