<form method="post" action="{{ path('app_entreprise_delete', {'id': entreprise.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer cette entreprise ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entreprise.id) }}">
    <button class="btn btn-danger btn-sm">supprimer l'entreprise</button>
</form>
