<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ma page de test</title>
  </head>
  <body>
    <img src={{ asset('Logo.png'|convert_encoding('UTF-8', 'base 64')) }}  alt="">
  </body>
</html>