{% extends 'base.html.twig' %}

{% block title %}New StatutEtatDesLieux{% endblock %}

{% block body %}
    <h1>Create new StatutEtatDesLieux</h1>

    {{ include('statut_etat_des_lieux/_form.html.twig') }}

    <a href="{{ path('app_statut_etat_des_lieux_index') }}">back to list</a>
{% endblock %}
