{% if contact.notes.snapshot %}
<h4>Liste des Notes </h4>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Note</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for n in contact.notes.snapshot %}
    <tr>
      <td>{{n.note}}</td>
      <td>
        <a href={{ path( 'app_note_edit' , { 'id' : n.id } ) }} class="btn btn-success btn-sm">
          modifier
        </a>
      </td>
      <td>
        <form method="post" action="{{ path('app_note_delete', {'id': n.id}) }}"
          onsubmit="return confirm('etes vous sure de vouloir supprimer cette note ?');">
          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ n.id) }}">
          <button class="btn  btn-danger btn-sm">Supprimer</button>
        </form>

      </td>
    </tr>
    {% else %}
    {% endfor %}
  </tbody>
</table>

{% else %}
{% endif %}