<footer>
    <div class="border relative solde" style="margin-top:-110px;height:70px;width:450px;text-align:center;">
    solde a payer
    </div>
    <div class="border relative wrapper-page conditions">
        Conditions de règlement :

        <ul>
            <li>Lettre de commande : 100 € frais ouverture dossier</li>
            <li>Signature contrat : acompte de 10% du coût prestation principale</li>
            <li>Validation des solutions : acompte de 20 % du coût prestation principale</li>
            <li>Réalisation mission : solde des 70% du coût prestation principale</li>
            <li>Frais annexes 1 à payer dès présentation de notes de frais</li>
            <li>Frais annexes 2 :  à  payer suivant  souhait des intervenants</li>
        </ul>
    </div>
</footer>