
<div class="border relative wrapper-page" style="width:680px;margin-top:30px;font-size:15px;padding:10px;text-align:left;margin-bottom:20px; ">
    Conditions de règlement : A modifier
</div>
<div class=" relative">
    <div class="border relative" style="width:340px;font-size:15px;padding-bottom:60px;">
        <p style="text-align:center;">Pour l'Entreprise</p> 
        
    </div>

    <div class="border relative" style="width:280px;margin-top:-400px;margin-bottom:0px;margin-left:405px;padding-bottom:57px;">
        
        <p style="text-align:center;" > Signature + Cachet</p> 

    </div>
</div>


<footer style="margin-top:10px;">
    <div style="position:relative;margin-top:50px;">
        <div style="background-color:blue;height:5px;margin-left:-45px;width:10.5cm;"></div>
        <div style="background-color:orange;height:5px;margin-top:-5px;margin-left:352px;width:10.5cm;"></div>

    </div>
    <div style="position:relative;margin-top:15px;margin-left:140px;">
        Adresse : ........................................................................................
    </div>
    <br>
    <div style="position:relative;text-align:center;margin-left:40px;">
        Tel : ---------------------   Mail : --------------------------  Siret  : ----------------------- naf : --------
    </div>
</footer>
