<div style="position:relative;margin-top:20px;">
      <div class="designation border" style="padding-left:20px;width:330px; "  >
          Frais annexes 2 à déduire :
        <ul >
          <li style="list-style-type: none">- Notes de frais</li>
          <li style="list-style-type: none">- Intervenant 1 N2</li>
          <li style="list-style-type: none">- Intervenant 2 N2</li>
        </ul>
      </div>

      <div class="designation border" style="width: 60px;margin-left:400px;margin-top:-200px;position:relative;padding-top:20px;">
            <ul>
                <li style="list-style-type: none;text-align: right;">1</li>
                <li style="list-style-type: none;text-align: right;">1</li>
                <li style="list-style-type: none;text-align: right;">1</li>
            </ul>
      </div>


      <div class="designation border" style="width: 60px;margin-top:-200px;margin-left:500px;position:relative;padding-top:20px;">
          <ul >
            <li style="list-style-type: none;text-align: right;">250</li>
            <li style="list-style-type: none;text-align: right;">1500</li>
            <li style="list-style-type: none;text-align: right;">950</li>
          </ul>
      </div>

       <div class="designation border" style="width:60px;margin-left:600px;margin-top:-200px;position:relative;padding-top:20px;">
          <ul>
            <li style="list-style-type: none;text-align: right;">{{ ouvertureDossier }}</li>
            <li style="list-style-type: none;text-align: right;">{{ TotalDeplacement }}</li>
            <li style="list-style-type: none;text-align: right;">{{ TotalHebergement }}</li>
          </ul>
      </div>
          
      
   
    
</div>

