<div style="position:relative;margin-top:20px;">

      <div class="designation border" style="padding-left:20px;width:400px; "  >
          Solde à payer
        
      </div>

      <div class=" border" style="width:60px;margin-left:500px;margin-top:-200px;position:relative;">
      Total Ht <br>
      TVA 20% <br>
      Total ttc
            
      </div>


      <div class="designation border" style="width: 60px;margin-top:-200px;margin-left:600px;position:relative;padding-top:20px;">
          
      </div>
          
      
   
    
</div>

