<form method="post" action="{{ path('app_appels_recus_delete', {'id': appels_recu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appels_recu.id) }}">
    <button class="btn btn-danger btn-sm">supprimer</button>
</form>
