{% extends 'base.html.twig' %}

{% block title %}New StatutProbleme{% endblock %}

{% block body %}
    <h1>Create new StatutProbleme</h1>

    {{ include('statut_probleme/_form.html.twig') }}

    <a href="{{ path('app_statut_probleme_index') }}">back to list</a>
{% endblock %}
