
<head>
  <style>
  @font-face {
    font-family: 'Elegance';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
  }
  body {
    font-family: Elegance, sans-serif;
  }
  </style>
</head>
<body>
  <p>hello world</p>
</body>