<style type="text/css">
    * {
        font-family: Arial;
        margin: 0;
        padding: 0;

    }

    .titre {
        font-size: 30px;
        margin-bottom: 40px;
        text-decoration: underline;
    }

    .body {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

    .relative {
        position: relative;
    }

    .center {
        text-align: center;
    }



    p {
        font-family: Arial sans-serif;
        margin-top: 20px;
    }

    footer {
        margin: 0cm;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15px;
        background-color: rgb(232, 84, 31);
    }

    .left {
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 18px;
        background-color: rgb(11, 164, 154);
    }

    ul {
        list-style-type: none;
        margin-left: 10px;
    }
</style>

<div class="body relative">

    <h1 class="center titre"> Bon de prise en charge </h1>
    <span style="witdh:100px;">

        RENFORT IMMO représenté par Mr Patrice SANACHY, en temps que <br>
        Bureau d’études spécialisé dans le déblocage de dossiers immobiliers, <br>
        accepte d’étudier la mission qui lui est soumis.


    </span>
    <p>
        Identification du projet : <br>
        ---------------------------------------------------------------------------------------------------------------------------------
        ---------------------------------------------------------------------------------------------------------------------------------
        ---------------------------------------------------------------------------------------------------------------------------------
    </p>
    <p>
        Objectifs : <br>
        ---------------------------------------------------------------------------------------------------------------------------------
        ---------------------------------------------------------------------------------------------------------------------------------
        ---------------------------------------------------------------------------------------------------------------------------------
    </p>
    <p>
        Modalités
        Conformément à notre procédure de traitement des dossiers commandés, nous procéderons de la manière suivante :
        <ul>
            <li>1 - Etat des lieux complet du ou des problématiques objet des présentes</li>
            <li>2 - Analyse globale de la situation</li>
            <li>3 - Diagnostic du degré de complexité et de la viabilité de la mission</li>
            <li>4 - Evaluation du coût de notre intervention et établissement d’un devis</li>
            <li>5 - Signature d’un contrat de services</li>
            <li>6 - Prise de contact avec tous les intervenants et négociation</li>
            <li>7 - Elaboration de solutions et proposition aux parties</li>
            <li>8 - Validation de solutions</li>
            <li>9 - Mise en œuvre des préconisations</li>
            <li>10 - Finalisation et facturation</li>
        </ul>


    </p>
    <p>

        Confidentialité
        RENFORT IMMO et les personnes qui l’assisteront dans sa mission s’engagent à :
        - considérer comme « confidentielles » et entrant dans le champ d’application du secret professionnel auquel ils
        seront tenus, les informations de toute nature, écrites ou orales, relatives aux activités et attributions du
        Bénéficiaire que l’exécution de leur mission les amènerait à connaître, sans que lesdites informations n’aient à
        être estampillées « confidentielles ».
        ne pas divulguer lesdites informations confidentielles à quiconque et en tout état de cause à respecter la
        présente clause de confidentialité, aussi longtemps que lesdites informations n’auront pas été portées à la
        connaissance de tiers par le Bénéficiaire lui-même.

    </p>
    <p>

        Fait à __________________________________ Le ______________________________________
    </p>
        <br>
        <p class="relative" style="margin-left:20px;">
            <span style="margin-left:50px;">LE BENEFICIAIRE</span>  <br>
            (Nom, fonction, cachet et signature ) 
        </p>
        <p class="relative" style="margin-top:-40px;margin-left:400px;">
            <span style="margin-left:10px;">Pour RENFORT IMMO</span>
             <br>
            (Nom du Chargé de mission)
        </p>
</div>





<div class="left">

</div>
<footer>
    <div class="footer">

    </div>
</footer>