{% if probleme.taches.snapshot %}
    <h4>Liste des tâches </h4>
    
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Tâche</th>
        </tr>
    </thead>
    <tbody>
        {% set nbrTaches = 0 %}
        {% for t in probleme.taches.snapshot %}
            {% set nbrTaches = nbrTaches + 1  %}
            <tr>
                <th scope="row"> {{nbrTaches}} </th>
                <td>
                    {{ t.date ? t.date |date("d/m/Y") : ""  }}
                </td>
                <td>    
                    <a href={{ path('app_tache_edit' , { 'id' : t.id })}}>
                        {{t.description| capitalize}}
                    </a>            
                </td>
            </tr>
        {% endfor %}

    </tbody>
    </table>
    
    {% else %}
    <h4>Pas de tâches existantes </h4>
{% endif %}   