{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/error.css')  }}">
    {% endblock %}

    {% block body %}
    
    <h1 class="orange">
    Une erreur a été trouvée sur cette page  .
    </h1>
    <h1 class="orange">
        Retournez a l'accueil .
    </h1>
        
    {% endblock %}