<style>
    footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
    }
</style>
<footer>
    <div style="position:relative;margin-top:10px;">
        <div style="background-color:blue;height:5px;margin-left:-45px;width:10.5cm;"></div>
        <div style="background-color:orange;height:5px;margin-top:-5px;margin-left:352px;width:10.5cm;"></div>

    </div>
    <div style="position:relative;margin-top:15px;margin-left:140px;">
        Adresse : ........................................................................................
    </div>
    <br>
    <div style="position:relative;text-align:center;margin-left:40px;">
        Tel : ---------------------   Mail : --------------------------  Siret  : ----------------------- naf : --------
    </div>
</footer>